.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../barber-assets/hero-pic.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    
}

.hero h3 {
    font-size: 32px;
    color: #dda15e;
    font-weight: normal;
}
.hero h1 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.location h4 {
    font-size: 16px;
    text-align: center;
}
.location img {
    width: 25px;
    margin-right: 5px;
}
.explore-btn {
    background-color: #283618;
    font-size: 16px;
    height: 45px;
    width: 230px;
    border-radius: 23px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-img {
    width: 25px;
    margin-left: 10px;
}

/* =================== MEDIA QUERIES =================== */
@media (max-width: 1070px) { 
    .hero h1 {
        font-size: 56px;
    }
    .hero h3 {
        font-size: 28px;
    }
}
@media (max-width: 850px) { 
    .hero h1 {
        font-size: 50px;
    }
    .hero h3 {
        font-size: 24px;
    }
}
@media (max-width: 520px) { 
    .hero h1 {
        font-size: 40px;
    }
    .hero h3 {
        font-size: 20px;
    }
    .location h4 {
        font-size: 12px;
    }
    .location img {
        margin-right: 0;
    }
    .explore-btn {
        width: 180px;
        font-size: 12px;
        height: 40px;
    }
}
