.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.title h2 {
    font-size: 24px;
    margin-bottom: 7px;
}
.title h1 {
    font-size: 30px;
}

.title-basic {
    color: #DDA15E;
}
.title-primary {
    color: #fff;
    opacity: 0.4;
}
.subtitle-basic {
    color: #606C38;
}
.subtitle-primary {
    color: #DDA15E;
}
.subtitle-secondary {
    color: #fff;
}

/* =================== MEDIA QUERIES =================== */
@media (max-width: 700px) {
    .title h2 {
        font-size: 20px;
    }
    .title h1 {
        font-size: 24px;
    }
}