.team {
    background: #844C1A;
    padding-bottom: 40px;
}
.team-display {
    display: flex;
    justify-content: space-between;
}
.member {
    width: 32%;  
    position: relative;
    cursor: pointer;
}
.member img {
    width: 100%;
    border-radius: 20px;
}
.caption {
    background: rgba(96, 108, 56, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 19px;
    padding-top: 70%;
    transition: 0.5s;
    opacity: 0;
}
.caption h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.caption h4 {
    font-size: 12px;
    text-align: center;
}
.member:hover .caption {
    padding-top: 0;
    opacity: 1;
}