.gallery {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 40px;
}
.gallery img {
    width: 32.5%;
    border-radius: 15px;
    cursor: pointer;
}

/* =================== MEDIA QUERIES =================== */
@media (max-width: 1065px) {
    .gallery img {
        width: 49%;
    }
}
@media (max-width: 515px) {
    .gallery img {
        width: 45%;
    }
}