.prices {
    background-color: #283618;
    color: #fff;
    padding-bottom: 40px;
}
.prices-display {
    border: 2px solid #fff;
    padding: 43px 58px;
    border-radius: 16px;
    
}
.prices-display ul li {
    display: flex;
    justify-content: space-between;
    padding:  20px 0;
    border-bottom: 1px solid #fff;
}
.prices-display ul li:nth-child(6) {
    border-bottom: 0;
}
/* =================== MEDIA QUERIES =================== */
@media (max-width: 500px) {
    .prices-display {
        padding: 43px 36px;
    }
}